[submodule "user-management"]
	path = user-management
	url = ../user-management
[submodule "user-management-services"]
	path = user-management-services
	url = https://github.com/navinO0/user-management-services
